html {
    /* font-size: 10px; */
    font-size: 62.5%;
}



body {
    background-color: #99a4c4;
    /* background-color: #44a4c4;
    background-color: #44a4a4; */
    font-family: 'Roboto', sans-serif;
}



.text-box {
/* //     padding: 10px; */
    text-align: center;
    
/* //     margin-top: 15%;
//     border-radius: 3%;
//     border: 5px solid black;
//     width: 80vw;
//     height: 50vh; */
    margin-top: 5%;
}

h1 {
    
    font-size: 100px;
}

#select {
    padding: .5em 1em;
display: block; 
text-align: center;

}

textarea {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Dancing Script', sans-serif;
    font-family: 'EB Garamond', sans-serif;
    font-family: 'monospace', sans-serif;
    font-family: 'Monserat', sans-serif;
    /* // font-family: serif; */
    
    /* // font-weight: bold; */
    
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
    border-radius: 3%;
    border: 2px black;
    width: 80vw;
    height: 50vh;
    
    
    
    /* // overflow: scroll; */
}



h1 {
    font-size: 12px;
}
